body{
    font-family: 'Roboto', sans-serif;
}

#ms_d_height_h{
    min-height: auto;
    background-color: aqua;
}

/* Header */
.ms_link_color{
    color: black;
}

/* Main */
.ms_container_color{
    background-color: blue;
    
}

.ms_d_height_m {
    border: solid red 1px;
}
.ms_d_height_c{
    min-height: 100px;
    color: #fff;
    background-color: black;
    border: solid rgb(255, 255, 255) 1px;
}

main{
    padding-top: 40px;
}
img{
    width: 100%;
    border-radius: 20px;
}