body{
    font-family: 'Roboto', sans-serif;
}


main{
    padding-top: 40px;
}

/* Header */
.ms_link_color{
    color: black;
}

/* Main */
.ms_container_color{
    background-color: #1abc9c;
    
}
.ms_avatar_image{
    margin: 0 auto;
    max-width: 300px;
}
.ms_main_txt{
    font-size: 50px;
}
.ms_submain_txt_color{
    color: #fff;
    text-align: center;
}

/* Light TEXT */
.ms_light_text{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
/* Dark Text */
.ms_dark_text{
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
}

/* Light Star */
.ms_light_star_bar{
    width: 300px;
    height: 8px;
    background-color: #fff;
    border-radius: 20px;
}
.ms_light_star{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 30px;
    color: #fff;
    background-color: #1abc9c;
}
/* Dark Star */
.ms_dark_star_bar{
    width: 300px;
    height: 8px;
    background-color: #2c3e50;
    border-radius: 20px;
}
.ms_dark_star{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 30px;
    color: #2c3e50;
    background-color: #ffffff;
}
/* Text */
.ms_p_text{
    color: #fff;
}

/* Footer */
.ms_container_footer_top_color{
    background-color: #3a546d;
}
.ms_container_footer_buttom_color{
    background-color: #2c3e50;
}
.mas_footer{
    
}
.ms_footer_down{
    
}





/* DEBUG */
.ms_d_height_m {
    border: solid red 1px;
}
.ms_d_height_c{
    min-height: 100px;
    color: #fff;
    background-color: black;
    border: solid rgb(255, 255, 255) 1px;
}

